<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sudan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="OilWebTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="InitArticleStatus" value="Active"/>
    <add key="InitUserStatus" value="Active"/>
  </appSettings>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=.\sqlexpress;Initial Catalog=Oil;User ID = sa;Password= sa;Integrated Security=True"/>
  </connectionStrings>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>
    </system.web>

  <system.diagnostics>
    <switches>
      <add name="TraceLevelSwitch" value="Info" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="agsProxyLogListener" type="System.Diagnostics.TextWriterTraceListener"
             initializeData="C:\Temp\Shared\proxy_logs\auth_proxy.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <applicationSettings>
    <Sudan.Properties.Settings>
      <setting name="Sudan_localhost_CustomRenderMap" serializeAs="String">
        <value>http://localhost:15791/CustomRenderMap.asmx</value>
      </setting>
    </Sudan.Properties.Settings>
  </applicationSettings>
</configuration>
